{%- for key, tag in tags %}
/**
  * {{ tag.name }} {{ tag.description }}  
  */
export const {{ key }} = new (class {{ key | capitalize }} {
  {%- for api in tag.apis %}
  {% if api.description %}
  /**
    *{{ api.description }}
    */
  {% endif -%}
  readonly {{ api.name }} = {{ api.name }}
  {% endfor %}
})()
{% endfor %}





