
{% macro params(query, body, path) %}
  {{ ("path: " + path + ",") if path }}{{ ("params: " + query + ",") if query }}{{ ("data: " + body + ",") if body }}
{% endmacro %}


{% if description %}
/**
  * {{description}}
  */
{% endif -%}
function {{name}}({{ params(query, body, path) }} options: Partial<RequestConfig> = {}) {
  return request<{{ response | default("void") }}>({
    url: "{{url}}",
    {{ "params," if query }}
    {{ "data," if body }}
    {{ "path," if path }}
    ...options
  })
}