
{% macro params(path, query, body, formData) %}
  {{ ("path: " + path + ",") if path }}{{ ("params: " + query + ",") if query }}{{ ("data: " + body + ",") if body }}{{ ("formData: " + formData + "| FormData,") if formData }}
{% endmacro %}


{% if description %}
/**
  * {{description}}
  */
{% endif -%}
function {{name}}({{ params(path, query, body, formData) }} options: Partial<RequestConfig> = {}) {
  return request<{{ response | default("void") }}>({
    url: "{{url}}",
    method: "{{ method }}",
    {{ "params," if query }}
    {{ "data," if body }}
    {{ "path," if path }}
    {{ "formData," if formData }}
    ...options
  })
}